@import url(modern-normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/*Global styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Style Guide classes */

/* Colors */
/* To use, add the name between the brackets of var() i.e. color: var(--softred); or background-color: var(--dark-desaturated-cyan); */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-grayish-blue: hsl(213, 9%, 39%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

/* Typography */

/* To use, simply add the class name to the HTML you wish to style with that particular font/weight
i.e. <p class="font-Fraunces-700">This text will be in Fraunces font with a font weight of 700</p> */

/* smooth scroll for the arrow*/
html {
  scroll-behavior: smooth;
}

.font-Barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.font-Fraunces-700 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 18px;
}

.font-Fraunces-900 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 32px;
}


/*Header*/
header { 
  padding: 2rem;
  align-items: center;
  justify-content: space-between; 
}

/* header for desktop */
@media screen and (min-width: 600px) {
  #burger-icon {
    visibility: hidden;
  }

  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .menu {
    display:flex;
    color: var(--white);
    font-size: smaller;
    padding-right:1rem;
  }

  .navbar .menu li a {
    padding:1rem;
  }

  #contact-a {
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
    border-radius: 30px;
    padding: 0.8rem 1.2rem;

    font-size: x-small;
    float:right;
  }
}

/* header for mobile */
@media screen and (max-width: 600px) {
  header .navbar .menu,
  header .navbar a {
    display: none;
  }

  #burger-icon {
    display:normal
  }
}

/* orange background image*/
.hero{
 background: lightblue url("images/mobile/image-header.jpg") no-repeat center;
 background-size: cover; 
 height: 100vh;
}

/* aligning header and arrow*/
.hero h1{
  margin-left: auto;
  margin-right: auto;
  margin-top:20vh;
  margin-bottom:12vh;
  color: var(--white);
  letter-spacing: 0.5rem;
  max-width: 70vw;
  text-align: center;
}

/* bg-image changes to desktop version at 677px */
@media only screen and (min-width: 677px) {
  .hero {
    background-image: url("images/desktop/image-header.jpg");
  }
}

/*Transform and Stand Out cards*/
/*Desktop Breakpoint*/
@media screen and (min-width: 1056px) {
  .egg-and-cup {
    display: flex;
  }
  .egg-image {
    width: 50%;
    background: lightblue url("./images/mobile/image-transform.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
  }
  .cup-image {
    width: 50%;
    background: lightblue url("./images/mobile/image-stand-out.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .egg-and-cup-text {
    width: 50%;
    padding: 7rem;
    text-align: left;
    margin: auto;
  }
}

/*Mobile Breakpoint*/
@media screen and (max-width: 1056px) {
  .egg-image {
    background: #ffd602 url("./images/mobile/image-transform.jpg") no-repeat center;
    background-size: contain;
    height: 28vh;
  }
  .cup-image {
    background:#fd6d60 url("./images/mobile/image-stand-out.jpg") no-repeat center;
    background-size: contain;
    height: 28vh;
  }
  .egg-and-cup-text {
    padding: 6rem 2rem;
    text-align: center;
    margin: auto;
  }
}

.egg-and-cup-text p {
  margin: 20px 0;
  color: hsl(210, 4%, 67%);
}

.egg-and-cup-text a {
  position: relative;
  top: 10px;
  margin: 0 10px;
}

.egg-and-cup-link-wrapper {
  display: inline-grid;
}

.link-underline-egg {
  border-bottom: 10px solid #FBF0B8; /* Will offset border later */
}

.link-underline-cup {
  border-bottom: 10px solid #FFDAD2; /* Will offset border later */
}

/*Graphic Design and Photography Cards*/
.graphic-and-photo {
  position: relative;
}

.graphic-and-photo .placeholder-text {
  position: absolute;
  bottom: 12%;
  margin: 0 2rem;
  text-align: center;
}

.graphic-and-photo .placeholder-text h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}


/*Wrapper testimonials*/
.profile-section { 
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.column {
  padding-bottom: 10%;
  float: left;
  justify-content: center;
  flex-flow: row wrap;
  width: 33.33%;
  padding-left: 3%;
  padding-right: 3%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.testimonials{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  color: var(--grayish-blue);
  letter-spacing: 4px;
}

.flex-item {
  text-align: center;
}

.flex-item img{
  border-radius: 50%;
  margin: 2rem;
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-item .review{
  color: var(--dark-grayish-blue);
  font-weight: bolder;
}

.flex-item .name{
  margin-top: 2rem;
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
}

.flex-item .job{
  margin-top: 0.4rem;
  color: var(--grayish-blue);
  font-size: smaller;
}

@media screen and (max-width: 600px) {
  .profile-section { 
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .column {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
  }

  .testimonials {
    padding-top: 15%;
    padding-bottom: 10%;
  }
}

/* Quad Pic Section */

.mobile-quad {
  display: none;
}

.desktop-quad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .mobile-quad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .desktop-quad {
    display: none;
  }
}

/* 6 footer - Ife - I use utility classes i.e. if i want padding 8rem i call my class p-8 */

.text-center {
  text-align: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}

.container .text-lg {
  font-size: 3rem;
  line-height: 1;
}

.b-2 {
  border: 2px solid black;
}

.p-4 {
  padding: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.max-w-2xl {
  max-width: 48rem;
}
.m-4 {
  margin: 2rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-2 {
  margin: 1rem;
}

.bg-light-green {
  background-color: hsl(167, 47%, 65%);
}

.text-green {
  color: hsl(167, 40%, 24%);
}

.font-bold {
  font-weight: 700;
}

.hover\:text-white:hover {
  color: white;
}
