@import url(modern-normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/*Global styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Style Guide classes */

/* Colors */
/* To use, add the name between the brackets of var() i.e. color: var(--softred); or background-color: var(--dark-desaturated-cyan); */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-grayish-blue: hsl(213, 9%, 39%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

/* Typography */

/* To use, simply add the class name to the HTML you wish to style with that particular font/weight
i.e. <p class="font-Fraunces-700">This text will be in Fraunces font with a font weight of 700</p> */

.font-Barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.font-Fraunces-700 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 18px;
}

.font-Fraunces-900 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 32px;
}


/*Header*/
header {
  background-color: red; /*this can be removed when orange image added*/
  padding: 2rem; 
  align-items: center;
  justify-content: space-between; 
}

/*this will be removed when the burger menu is completed*/
header ul {
  display: none;
}


/*Transform and Stand Out cards*/
.egg-and-cup {
  width: 100vw;
}

/*Desktop Breakpoint*/
@media screen and (min-width: 1440px) {
  .egg-and-cup {
    display: flex;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .egg-and-cup img {
    width: 50vw;
  }
  .egg-and-cup .placeholder-text {
    width: 50vw;
    padding: 8rem;
    text-align: left;
    margin: auto;
  }

}
/*Mobile Breakpoint*/
@media screen and (max-width: 1440px) {
  .egg-and-cup img {
    width: 100%;
  }
  .egg-and-cup .placeholder-text {
    width: 100%;
    padding: 4rem 30px;
    text-align: center;
    margin: auto;
  }
}

.egg-and-cup .placeholder-text p {
  margin: 20px 0;
  color: hsl(210, 4%, 67%);
}

.egg-and-cup .placeholder-text a {
  border-bottom: 5px inset #FBF0B8; /* Will offset border later */
}

/*Wrapper testimonials*/
.column {
  padding-bottom: 10%;
  float: left;
  justify-content: center;
  flex-flow: row wrap;
  width: 33.33%;
  padding: 5%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.testimonials{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: hsl(210, 4%, 67%);
}

.flex-item {
  text-align: center;
}

.flex-item img{
  border-radius: 50%;
  margin: 2rem;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-item .name{
  margin-top: 2rem;
}

.flex-item .job{
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .flex-item img{
    width: 20%;
  }
}

/* 6 footer - Ife - I use utility classes i.e. if i want padding 8rem i call my class p-8 */

.text-center {
  text-align: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}

.container .text-lg {
  font-size: 3rem;
  line-height: 1;
}

.b-2 {
  border: 2px solid black;
}

.p-4 {
  padding: 2rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.max-w-2xl {
  max-width: 48rem;
}
.m-4 {
  margin: 2rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-2 {
  margin: 1rem;
}

.bg-light-green {
  background-color: hsl(167, 47%, 65%);
}

.text-green {
  color: hsl(167, 40%, 24%);
}

.font-bold {
  font-weight: 700;
}

.hover\:text-white:hover {
  color: white;
}
